extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Cristina Lopez
        p Full Stack JavaScript Developer
        .about-bio
          //- Replace the boilerplate below with your best elevator pitch
          p I have been working through the Treehouse Full Stack JavaScript course since May 2022 where I am learning the skills below. Prior to this, I was teaching high school math for five years. My previous experience, although not directly related to working for a tech company, provided me with a lot of opportunities to grow my interpersonal skills such as working with diverse people, working in a team towards a common goal, communication, and patience, among others.
      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
        h6 Contact Info
        ul
          li 323-378-4484
          li cristina_lopez@intuit.com
        a.btn-link(href='https://www.linkedin.com/in/cristina-lopez-894667225/') LinkedIn
        a.btn-link(href='https://github.com/cristina-lopez') GitHub
        a.btn-link(href='https://twitter.com/') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back