extends layout.pug

block content

  article.portfolio-intro
    h1 My Portfolio
    p This portfolio contains a directory to my projects from the Treehouse Full Stack JavaScript course. You can view more information about each project, the code for each project and a live link to the web page.
  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects 
        .cell 
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.images_url[0]}`, alt='Screenshot of Project')
            h5= `${project.project_name}`